@media print {
  body {
    margin: 0;
    padding: 0;
  }

  .MuiPaper-root {
    box-shadow: none !important;
  }

  .print-hidden {
    display: none !important;
  }


  .page-break {
    page-break-before: always;
  }

}

.paper {
  background-color: white;
  padding: 10px;
  min-height: 270mm;
  max-height: 270mm;
  aspect-ratio: 1 / 1.4142;
  margin: 10px auto;
  box-sizing: border-box;
  row-gap: 10px;
  column-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 11fr 2fr 6fr 1fr;
  grid-template-areas:
    "current-view new-view"
    "savings savings"
    "additional-view additional-view"
    "disclaimer disclaimer";
}

.current-view,
.new-view,
.additional-view,
.savings,
.disclaimer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.current-view {
  grid-area: current-view;
  margin: 0 auto;
  padding: 0px;
}

.savings {
  grid-area: savings;
}

.new-view {
  grid-area: new-view;
  margin: 0 auto;
  padding: 0px;
}

.additional-view {
  grid-area: additional-view;
  margin: 0 auto;
  padding: 0px;
}

.disclaimer {
  grid-area: disclaimer;
  text-align: center;
  font-size: 0.75em;
  border-top: 2px solid black;
}

.current-view,
.new-view {
  height: 100%;
}