@media print {
    body {
        margin: 0;
        padding: 0;
    }

    .MuiPaper-root {
        box-shadow: none !important;
    }

    .print-hidden {
        display: none !important;
    }

    
    .page-break {
        page-break-before: always;
    }

}  
.savings-print {
  position: absolute;
  color: red;
  top: 100%;
}
  .paper {
    min-width: 210mm;
    min-height: 270mm;
    max-width: 210mm;
    max-height: 270mm;
    margin: 10px auto;
    box-sizing: border-box;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 70px;
    grid-template-areas: 
    "current-view new-view"
    "current-view new-view"
    "current-view new-view"
     "additional-view additional-view"
  }

  .current-view {
    grid-area: current-view;
    margin: 10px;
    padding: 0px;
  }

  .savings {
    position: absolute;
    width: 210mm;
    text-align: center;
    top: calc(230mm - 90px);
  }
 .new-view {
  
    grid-area: new-view;
    margin: 10px;
    padding: 0px;
  }

  .new-mobile-view {

    grid-area: new-mobile-view;
    margin: 10px;
  }

.additional-view {
    grid-area: additional-view;
    display: grid;
    margin: 10px;
    padding: 10px;
  }

.disclaimer {
  position: absolute;
  width:100%;
  height:fit-content;
  bottom: 2px;
  text-align: center;
}

